@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400");
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');



@font-face {
  font-family: "Wisdom - Script";
  src: url(../fonts/WisdomScriptAJ.otf) format("truetype");
}


[class*="col-"] {
  float: left;
  min-height: 1px;
  margin: 0 auto;
}

.col-offset-1 {
  margin-left: 8.33%;
}

.col-offset-2 {
  margin-left: 16.66%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-4 {
  margin-left: 33.33%;
}

.col-offset-5 {
  margin-left: 41.66%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-offset-7 {
  margin-left: 58.33%;
}

.col-offset-8 {
  margin-left: 66.66%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-offset-10 {
  margin-left: 83.33%;
}

.col-offset-11 {
  margin-left: 91.66%;
}

body {
  margin: 0;
}

header {
  background-image: url("../images/background-image.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

header::after {
  content: "";
  background-color: #000000;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

.golden {
  position: absolute;
  top: 40px;
  left: calc(237px - 20px);
  font-size: 26px;
  font-weight: 400;
  line-height: 41px;
  color: #fed136;
  letter-spacing: 1.3px;
  font-family: "Wisdom - Script";
  z-index: 2;
}

header > ul {
  margin-top: 50px;
  float: right;
  list-style-type: none;
  padding-right: 30px;
  z-index: 2;
  position: relative;
}

header > ul > li {
  display: inline-block;
  padding-right: 40px;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 41px;
  text-transform: uppercase;
}

.jumbotron h2 {
  color: #ffffff;
  font-family: "Droid Serif";
  font-size: 40px;
  font-style: italic;
  letter-spacing: -1px;
  font-weight: normal;
  margin: 0;
}

h1 {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 75px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -1.88px;
  margin: 50px 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 65px);
  text-align: center;
  flex-direction: column;
  width: 100%;
  z-index: 2;
  position: relative;
}

button {
  width: 242px;
  height: 68px;
  background-color: #fed136;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
}

header ul > li > a {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 41px;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
}

.services {
  text-align: center;
}

.subtitle {
  color: #777777;
  font-family: "Droid Serif";
  font-size: 16px;
  font-style: italic;
  margin-bottom: 77px;
}

section {
  width: 100%;
  padding: 120px 0;
  float: left;
  text-align: center;
}

section h2 {
  color: #222222;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin: 0 auto;
}

p.subheader {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: -0.45px;
}

.services .col-l-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services .row {
  max-width: 934px;
  margin: 0 auto;
}

.services .col-l-4 p {
  margin: 0 28px;
  max-width: 275px;
}

.services .icon {
  width: 70px;
  height: 70px;
  border: 3px solid #fed136;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services .icon img {
  height: 40px;
}

.row::before,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.portfolio,
.team {
  background-color:#f7f7f7;
}
 .portfolio .row,
 .team .row {
  max-width: 1200px;
  margin: 0 auto;
}

.portfolio img {
  margin: 30px;
}

.image-description p:first-child {
  
  color: #333333;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.45px;
  margin: 0 auto;
  width: 100%;
}

.image-description p:nth-child(2) {
  color: #737373;
  font-family: "Droid Serif";
  font-size: 14px;
  font-style: italic;
  margin: 5px auto 0 auto;
  display: block;
}

.about .row {
  margin: 0 calc(264px - 153px) 100px calc(264px - 153px);
}
.about .row:last-child {
  margin: 100px calc(264px - 153px) 0 calc(264px - 153px);
}

.about .row p:first-child,
.about .row p:nth-child(2) {
  color: #222222;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.45px;
  width: 100%;
  margin: 0;
}

.about .row p:first-child {
text-transform: uppercase;
}

.about .row p:nth-child(3) {
color: #777777;
font-family: "Roboto Slab";
font-size: 14px;
font-weight: 400;
letter-spacing: -0.35px;
}
 
.about .row .col-m-4:first-child p {
  float: right;
  text-align: right;
}
.about .row .col-m-4:nth-child(2) p {
  float: left;
  text-align: left;
}

.line {
  height: 100%;
  position:relative;
}
 .line::after {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  border: 2px solid #f1f1f1;;
  top: 0;
  left: 50%;
  z-index: -1;
}

#story {
 position: relative;
}

#story p {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2;
  color: white;
  max-width: 170px;
  text-align: center;
}

section .team {
  margin: 0 calc(309px - 234px/2);
}

.team .row .col-m-4 .name {
  color: #222222;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.4px;
}

.team .row .col-m-4 .role {
  color: #777777;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.35px;
}

.team i {
  font-size: 25px;
  width: 44px;
  height: 43px;
  line-height: 43px;
  border: 3px solid #222222;
  border-radius: 50%;
}

.team #teamstory {
  max-width: 600px;
  color: #777777;
  font-family: "Roboto Slab";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.4px;
  margin: 50px auto 0 auto;
}

#clients {
  text-align: center;
  line-height: 160px;
 padding: 60px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#clients img {
 margin: 0 40px;
  
}

#contact {
  background-color: #222222;
  margin: 0;
  position: relative;
  overflow: hidden;
}

#contact h2 {
  color: white;
}

input {
  width: 80%;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  padding-left: 20px;
  color: #bbbbbb;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.35px;
  border-radius: 5px;
}

#first-column {
  display: flex;
  flex-direction: column;
  
}
#first-column input {
  height: 56px;
  margin: 0 auto;
}
#second-column input {
  height: 212px;
}

#contact button {
  margin-top: 27px;
}
#contact img {
  position: absolute;
  top: 20%;
  left: 60%;
}
footer {
  height: 90px;
  float: left;
  width: 100%;
  line-height: 90px;
}

footer p {
  color: #555555;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.35px;
  margin-left: calc(230px - 255px/2);
}

footer i {
  width: 43px;
  background-color: #222222;
  margin: 0 5px;
  color: white;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
}
footer i:before {
  line-height: 43px;
}

footer #socialmedia {
 text-align: center;
 margin: 0 auto;
}

@media (min-width: 981px) {
  /* For desktop: */
  .col-l-1 {width: 8.33%;}
  .col-l-2 {width: 16.66%;}
  .col-l-3 {width: 25%;}
  .col-l-4 {width: 33.33%;}
  .col-l-5 {width: 41.66%;}
  .col-l-6 {width: 50%;}
  .col-l-7 {width: 58.33%;}
  .col-l-8 {width: 66.66%;}
  .col-l-9 {width: 75%;}
  .col-l-10 {width: 83.33%;}
  .col-l-11 {width: 91.66%;}
  .col-l-12 {width: 100%;}
}

@media (max-width: 980px) {
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}

footer p {
  margin: 0 auto;
  text-align: center;
}

section {
  padding: 60px 0;
}

#clients img {
  padding: 0 30px;
  margin: 20px auto;
}

.golden {
  left: 50px;
}
header > ul > li {
  display: block;
  padding-right: 40px;
}
.jumbotron {
  height: calc(100vh - 300px);
  padding: 0 30px;
}
.portfolio .row::before,
.portfolio .row::after {
  content: "";
  display: flex;
  clear: none;
}
}

@media (max-width:767px) {
  .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .services .icon {
      margin-top: 30px;
    }

    .col-offset-4 {
      margin-left: 0;
    }
  }